*{margin:0; padding:0; box-sizing: border-box;}
body {
  background-color: #5b9ce3;
}
.App {
  background-color: #282c34;
  min-height: 530px;
  width: 400px;
  flex-direction: column;
  margin: 40px auto;
}

#todoForm input{
  background-color: rgb(27, 112, 137);
  border: 0;
  padding: 0 20px;
  margin: 20px;
  width: 260px;
  height: 37px;
  border-radius: 10px;
  font-size: 18px;
  color: #fff;
}

#todoForm input:focus{
  outline: none;
}

#todoForm input::placeholder{
  color: rgba(255, 255, 255, 0.5);
}

.list{
  color:#fff;
  width: 300px;
  background-color: #bf07ac;
  height: 50px;
  margin: 20px auto;
  border-radius: 5px;
}

.list p {
  padding: 10px 20px;
  position: relative;
}

.list p span{
  position: absolute;
  right: 0px;
  cursor: pointer;
}

.list button{
  background-color: transparent;
  box-shadow: none;
}

.list button:hover{
  background-color: transparent;
  box-shadow: none;
}

.list p input{
  background-color: transparent;
  border: 0;
  color: #fff;
  font-size: 18px;
}

.list p input:focus{
  outline: none;
}


